
body {
    background-image: url('../brg/tile.jpg');
}

.title {

    /* background-image: url('../brg/title.png'); */
    font-family: 'Permanent Marker', cursive;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    
}


form {
  width: 600px;
  background-image: url('../brg/formbg.jpg');
  margin: auto;
  text-align: center;

}

textarea {
   
    height: 50px;
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;


}

  input[type=text]{
    width: 20%;
    height: 1px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: none;
    resize: vertical;
    padding: 20px;
  }


  input[type=submit] {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #de3d1d 100%);
	background-color:#d0451b;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:4px 11px;
	text-decoration:none;
	text-shadow:0px -1px 0px #854629;
    
}
input[type=submit] :hover {
	background:linear-gradient(to bottom, #de3d1d 5%, #d0451b 100%);
	background-color:#de3d1d;
}
input[type=submit] :active {
	position:relative;
	top:1px;
}

input[type=reset]  {
	box-shadow:inset 0px 1px 0px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:4px 11px;
	text-decoration:none;
	text-shadow:0px -1px 0px #465754;
    
}
input[type=reset]:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
input[type=reset]:active {
	position:relative;
	top:1px;
}


#MyNotes {
  margin:auto;
  display: inline-grid;
  grid-template-columns: repeat(5,250px);
}
.Note { 
    background-image: url('../brg/notebg.png');
    width: 200px;
    height: 250px;
    margin: 22px;
}
.Note:last-child { 
  animation: fadeIn 2s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.NoteText {
    background-color:none;
    width: 150px;
    height: 50%;
    overflow-y: scroll;
    float: left;
    left: 50px;
    margin: 15px; 
    top:25px;
  }

p {
    font-weight: bold;
    left: 50px;
    margin: 15px; 
}

.bi{
    float: right;
    margin-right: 25px;
    display: none;
}

.Note:hover .bi{
    display: inline-block;
}


